{% import "icons.twig" as icons %}

<component is="header" v-slot="header" class="header header--{{ type|default('default') }}">
  <div class="header__inner">
    <div class="header__main">
      <a class="header__logo" href="/">
        {{ icons.icon('logo', '') }}
        <span class="sr-only">Link to Home</span>
      </a>
      <ul class="header__nav">
        {% for item in primary %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}{{ icons.icon('chevron', '') }}</a>
            <div class="header__dropdown header__dropdown--{{ item.title|lower|replace({' ': '-'}) }}">
              <ul>
                {% for child in item.children %}
                  <li>
                    <a
                      {% if item.title == 'Resources' or item.title == 'Who Can Benefit' %}
                        class="header__tagged-btn header__tagged-btn--{{ child.tag|lower }}"
                      {% endif %}
                      href="{{ child.url }}"
                    >
                      {% if item.title == 'Collective Solutions' or item.title == 'Who Can Benefit' %}
                        {{ icons.icon('temp', 'header__symbol') }}
                      {% endif %}
                      {% if child.tag and item.title != 'Who Can Benefit' %}
                      <div class="tag tag--{{ child.tag|lower|replace({' ': '-'}) }}">
                        {{ icons.icon('temp', '') }}
                        {{ child.tag }}
                      </div>
                      {% endif %}
                      <span>
                        {% if child.tag and item.title == 'Who Can Benefit' %}<span>{{ child.tag }}</span>{% endif %}
                        <span>{{ child.title }}</span>
                        {% if child.excerpt %}<span>{{ child.excerpt }}</span>{% endif %}
                      </span>
                      {{ icons.icon('arrow', 'header__arrow') }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="header__special-btn">
        <a href="/">Get Started</a>
        <button>
          {{ icons.icon('chevron', '') }}
          <span class="sr-only">Get Started Options</span>
          <div class="header__dropdown header__dropdown--resources">
            <h2 class="subheading-style-2">Get Started</h2>
            <ul>
              {% for item in utility %}
                <li>
                  <a class="header__tagged-btn header__tagged-btn--{{ item.tag|lower }}" href="{{ item.url }}">
                    <div class="tag tag--{{ item.tag|lower|replace({' ': '-'}) }}">
                      {{ icons.icon('temp', '') }}
                      {{ item.tag }}
                    </div>
                    <span>
                      <span>{{item.title }}</span>
                    </span>
                    {{ icons.icon('arrow', 'header__arrow') }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <hr>
            <h2 class="subheading-style-2">Log In</h2>
            <ul class="header__utility-nav">
              <li>
                <a href="/">
                  <span>Dragonfly App</span>
                  <div class="tag">
                    {{ icons.icon('temp', 'institutions') }}
                    {{ icons.icon('temp', 'states') }}
                  </div>
                  {{ icons.icon('newtab', 'header__newtab') }}
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Learner App</span>
                  <div class="tag">
                    {{ icons.icon('temp', 'learners') }}
                  </div>
                  {{ icons.icon('newtab', 'header__newtab') }}
                </a>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <button
        class="header__hamburger"
        :aria-expanded="header.drawerActive"
        @click="header.toggleDrawer()"
      >
        <span></span>
      </button>
    </div>
    {% if breadcrumbs %}
      <div class="header__breadcrumbs">
        <ul>
          {% for item in breadcrumbs %}
            <li><a href="{{ item.url }}">
              {{ icons.icon('chevron', 'chevron') }}
              {{ item.title }}
            </a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="header__drawer">
      <div class="header__dropdown-group">
        {% for item in primary %}  
          <div class="header__dropdown header__dropdown--{{ item.title|lower|replace({' ': '-'}) }}">
            <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
            <ul>
              {% for child in item.children %}
                <li>
                  <a
                    {% if item.title == 'Resources' or item.title == 'Who Can Benefit' %}
                      class="header__tagged-btn header__tagged-btn--{{ child.tag|lower }}"
                    {% endif %}
                    href="{{ child.url }}"
                  >
                    {% if item.title == 'Collective Solutions' or item.title == 'Who Can Benefit' %}
                      {{ icons.icon('temp', 'header__symbol') }}
                    {% endif %}
                    {% if child.tag and item.title != 'Who Can Benefit' %}
                    <div class="tag tag--{{ child.tag|lower|replace({' ': '-'}) }}">
                      {{ icons.icon('temp', '') }}
                      {{ child.tag }}
                    </div>
                    {% endif %}
                    <span>
                      {% if child.tag and item.title == 'Who Can Benefit' %}<span>{{ child.tag }}</span>{% endif %}
                      <span>{{ child.title }}</span>
                      {% if child.excerpt %}<span>{{ child.excerpt }}</span>{% endif %}
                    </span>
                    {{ icons.icon('arrow', 'header__arrow') }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        <div class="header__dropdown header__dropdown--resources">
          <h2><a href="/">Get Started</a></h2>
          <h3 class="subheading-style-2">Get Started</h3>
          <ul>
            {% for item in utility %}
              <li>
                <a class="header__tagged-btn header__tagged-btn--{{ item.tag|lower }}" href="{{ item.url }}">
                  <div class="tag tag--{{ item.tag|lower|replace({' ': '-'}) }}">
                    {{ icons.icon('temp', '') }}
                    {{ item.tag }}
                  </div>
                  <span>
                    <span>{{item.title }}</span>
                  </span>
                  {{ icons.icon('arrow', 'header__arrow') }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <hr>
          <h3 class="subheading-style-2">Log In</h3>
          <ul class="header__utility-nav">
            <li>
              <a href="/">
                <span>Dragonfly App</span>
                <div class="tag">
                  {{ icons.icon('temp', 'institutions') }}
                  {{ icons.icon('temp', 'states') }}
                </div>
                {{ icons.icon('newtab', 'header__newtab') }}
              </a>
            </li>
            <li>
              <a href="/">
                <span>Learner App</span>
                <div class="tag">
                  {{ icons.icon('temp', 'learners') }}
                </div>
                {{ icons.icon('newtab', 'header__newtab') }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</component>