{% import "macros.twig" as macros %}
{% import "icons.twig" as icons %}

{% if in_component_library %}
  {% set context = '@context' %}
  {% set videoComponent = '@video' %}
{% else %}
  {% set context = 'context.twig' %}
  {% set videoComponent = 'video.twig' %}
{% endif %}

<div class="hero hero--{{ type|default('default') }}{% if reverse %} hero--reverse{% endif %}{% if image is null %} hero--no-image{% endif %}">
  <div class="hero__inner grid">
    <div class="hero__main">
      <div class="hero__context">
        {% if type == 'parallel' %}
          {% include context with {
            type: 'default',
            size: 'large',
            align: 'left',
            tags: tags,
            subheading: subheading,
            heading: heading,
            paragraphs: paragraphs,
            buttons: {
              size: 'default',
              type: btnType,
              items: buttons,
            }
          } %}
          {{ icons.icon('faux-corner', 'hero__faux-corner') }}
          {{ icons.icon('faux-corner', 'hero__faux-corner') }}
        {% else %}
          <h1 class="hero__heading">{{ heading }}</h1>
        {% endif %}
      </div>
      {% if image or video %}
        <div class="hero__media">
          {% if paragraphs and type != 'parallel' %}
            <div class="hero__overlay">
              {{ paragraphs|raw }}
              {{ icons.icon('faux-corner', 'hero__faux-corner') }}
              {{ icons.icon('faux-corner', 'hero__faux-corner') }}
            </div>
          {% endif %}
          {% if video.id %}
            {% include videoComponent with video %}
          {% elseif image %}
            {{ macros.picture(
              'w-full object-cover',
              image.srcset,
              image.src,
              image.sizes.Hero,
              image.sizes.Hero_mobile,
              image.alt,
              in_component_library
            ) }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>