{% import "macros.twig" as macros %}

<component is="testimonials-carousel" class="testimonials-carousel" v-slot="carousel">
  <div class="testimonials-carousel__window">
    {% for item in items %}
      <div
        class="testimonials-carousel__slide testimonials-carousel__slide--{{ item.tag|default('default') }}"
        :class="{ 'testimonials-carousel__slide--active' : carousel.activeSlide == {{ loop.index }} }"
        @click="carousel.toggleActive({{ loop.index == items|length ? 1 : loop.index + 1 }})"
      >
        {% if item.image %}
          {{ macros.picture(
            'testimonials-carousel__image w-full object-cover',
            item.image.srcset,
            item.image.src,
            item.image.sizes.Square,
            item.image.sizes.Square,
            item.image.alt,
            in_component_library
          ) }}
        {% endif %}
        <div class="testimonials-carousel__context">
          <p>"{{ item.quote }}"</p>
          <div class="testimonials-carousel__name">
            <strong>{{ item.name }},</strong> {{ item.role }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul class="testimonials-carousel__controls">
    {% for item in items %}
      <li>
        <button 
          :class="{ 'active' : carousel.activeSlide == {{ loop.index }} }"
          @click="carousel.toggleActive({{ loop.index }})"
        >
          <span class="sr-only">Navigate to slide {{ loop.index }}</span>
        </button>
      </li>
    {% endfor %}
  </ul>
</component>