{% import "icons.twig" as icons %}

<div class="pagination">
  <div class="pagination__inner grid">
    <div class="pagination__main">
      <div class="pagination__controls">
        {% if prev %}
          <a class="pagination__arrow-btn pagination__arrow-btn--prev" href="{{ prev }}">
            {{ icons.icon('chevron', '') }}
            Previous
          </a>
        {% endif %}
        <ul>
          {% for page in pages %}
            <li class="pagination__item{% if page.active %} pagination__item--active{% endif %}"><a href="{{ page.url }}">{{ loop.index }}</a></li>
          {% endfor %}
        </ul>
        {% if next %}
          <a class="pagination__arrow-btn pagination__arrow-btn--next" href="{{ next }}">
            {{ icons.icon('chevron', '') }}
            Next
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>