{% import "icons.twig" as icons %}

<div class="pagination">
  <div class="pagination__inner grid">
    <div class="pagination__main">
      <div class="pagination__controls">
        <a class="pagination__arrow-btn pagination__arrow-btn--prev{% if prev %} pagination__arrow-btn--active{% endif %}" href="{{ prev }}">
          {{ icons.icon('chevron', '') }}
          Previous
        </a>
        <ul>
          {% for page in pages %}
            <li class="pagination__item{% if page.active %} pagination__item--active{% endif %}"><a href="{{ page.url }}">{{ loop.index }}</a></li>
          {% endfor %}
        </ul>
        <a class="pagination__arrow-btn pagination__arrow-btn--next{% if next %} pagination__arrow-btn--active{% endif %}" href="{{ next }}">
          {{ icons.icon('chevron', '') }}
          Next
        </a>
      </div>
    </div>
  </div>
</div>