{% import 'macros.twig' as macros %}
{% import "icons.twig" as icons %}

{% if in_component_library %}
  {% set context = '@context' %}
  {% set videoComponent = '@video' %}
  {% set testimonialsCarousel = '@testimonials-carousel' %}
{% else %}
  {% set context = 'context.twig' %}
  {% set videoComponent = 'video.twig' %}
  {% set testimonialsCarousel = 'testimonials-carousel.twig' %}
{% endif %}

<div class="media-context media-context--{{ size|default('large') }}{% if reverse %} media-context--reversed{% endif %}{% if testimonials %} media-context--with-testimonials{% endif %} background--{{ background|default('default') }}">
  {% if size == 'display' %}
    <div class="media-context__overlay">
  {% endif %}
    <div class="media-context__inner grid">
      {% if size != 'display' %}
        <div class="media-context__media">
          {% if video.id %}
            <component is="modal-btn">
              <div class="video__overlay">
                <div class="video__btn">
                  {{ icons.icon('play', 'video__svg') }}
                </div>
              </div>
              {{ macros.picture(
                'w-full',
                image.srcset,
                image.src,
                image.sizes.Rectangle,
                image.sizes.Rectangle_mobile,
                image.alt,
                in_component_library
              ) }}
            </component>
            <component is="modal">
              {% include videoComponent with video %}
            </component>
          {% else %}
            {% if buttons %}
              {% set firstBtn = buttons|first %}
              <a href="{{ firstBtn.button.url }}">
            {% endif %}
              {% if size == 'medium' %}
                {% set wp_image_desktop = image.sizes.Rectangle %}
                {% set wp_image_mobile = image.sizes.Rectangle_mobile %}
              {% elseif size == 'display' %}
                {% set wp_image_desktop = image.sizes.Portrait %}
                {% set wp_image_mobile = image.sizes.Portrait_mobile %}
              {% else %}
                {% set wp_image_desktop = image.sizes.Square %}
                {% set wp_image_mobile = image.sizes.Square %}
              {% endif %}
              {{ macros.picture(
                'w-full',
                image.srcset,
                image.src,
                wp_image_desktop,
                wp_image_mobile,
                image.alt,
                in_component_library
              ) }}
            {% if buttons %}</a>{% endif %}
          {% endif %}
          {% if testimonials %}
            {% include testimonialsCarousel with {
              items: testimonials,
            } %}
          {% endif %}
        </div>
      {% endif %}
      <div class="media-context__context">
        {% if tags|length == 1 %}
          {% if tags[0] == 'institutions' %}
            {% set btnType = 'aqua' %}
          {% elseif tags[0] == 'learners' %}
            {% set btnType = 'honey' %}
          {% elseif tags[0] == 'states' %}
            {% set btnType = 'green' %}
          {% endif %}
        {% else %}
          {% set btnType = 'indigo' %}
        {% endif %}
        {% include context with {
          size: size|default('large'),
          subheading: subheading,
          heading: heading,
          paragraphs: paragraphs,
          buttons: {
            size: 'default',
            type: size == 'medium' ? 'hollow-indigo' : btnType,
            items: buttons,
          }
        } %}
        {% if size == 'display' %}
          <div class="media-context__special-button-group button-group">
            <a class="btn--aqua" href="/">For Institutions</a>
            <a class="btn--honey" href="/">For Learners</a>
            <a class="btn--green" href="/">For States</a>
            <a class="btn--magenta" href="/">General Inquiries</a>
          </div>
        {% endif %}
        {% if testimonials %}
          {% include testimonialsCarousel with {
            items: testimonials,
          } %}
        {% endif %}
      </div>
    </div>
  {% if size == 'display' %}
    </div>
  {% endif %}
  {% if size == 'display' %}
    {{ macros.picture(
      'media-context__big-image w-full object-cover',
      image.srcset,
      image.src,
      image.sizes.Portrait,
      image.sizes.Portrait_mobile,
      image.alt,
      in_component_library
    ) }}
  {% endif %}
  {% if cards %}
    <div class="media-context__inner grid">
      {% for item in cards %}
        <div class="media-context__item">
          <div class="media-context__card">
            {{ macros.picture(
              'w-full',
              item.image.srcset,
              item.image.src,
              item.image.sizes.Square,
              item.image.sizes.Square_mobile,
              item.image.alt,
              in_component_library
            ) }}
            {% include context with {
              size: 'xsmall',
              tags: item.tags,
              subheading: item.subheading,
              heading: item.heading,
              paragraphs: item.paragraphs,
              buttons: {
                size: 'default',
                type: 'text-indigo',
                items: item.buttons,
              }
            } %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>