<div
  class="button-group{% if align == 'center' %} button-group--centered{% endif %}"
>
  {% for item in items %}
    <a class="{% if size %}{{ size }}-{% endif %}btn btn--{{ type|default('indigo') }}" href="{{ item.button.url }}" target="{{ item.button.target }}">{{ item.button.title }}</a>
  {% endfor %}
</div>