{% import "icons.twig" as icons %}

{% if in_component_library %}
  {% set wysiwyg = '@wysiwyg' %}
{% else %}
  {% set wysiwyg = 'wysiwyg.twig' %}
{% endif %}

<component
  class="accordion"
  is="accordion"
  v-slot="accordion"
  {% if single %}
    :single="{{ single }}"
  {% endif %}
>
  {% for item in panels %}
    <article class="accordion__panel" data-accordion-panel>
      <h3 class="accordion__header">
        <button
            class="accordion__button"
            data-accordion-button
            :aria-expanded="accordion.active.includes({{ loop.index0 }}) ? true : false"
            @click="accordion.toggleActive({{ loop.index0 }}, $event)"
        >
          {{ item.heading }}
          <span class="accordion__arrow-btn">
            {{ icons.icon('chevron', '') }}
          </span>
        </button>
      </h3>
      <div
        class="accordion__window"
        data-accordion-window
      >
        <div
          class="accordion__content"
          data-accordion-content
        >
          {% include wysiwyg with {
            text: item.content
          } %}
        </div>
      </div>
    </article>
  {% endfor %}
</component>