{% import "icons.twig" as icons %}

{% if in_component_library %}
  {% set buttonGroup = '@button-group' %}
{% else %}
  {% set buttonGroup = 'button-group.twig' %}
{% endif %}

<div class="context context--{{ size|default('medium') }} context--align-{{ align|default('left') }} context--{{ type|default('default') }}">
  {% if subheading %}<div class="context__subheading">{{ subheading }}</div>{% endif %}
  {% if tags %}
    <div class="tag-group">
      {% for tag in tags %}
        <a class="tag tag--{{ tag }}" href="/who-can-benefit/{{ tag|lower }}">{{ icons.icon(tag|lower, '') }} {{ tag|capitalize }}</a>
      {% endfor %}
    </div>
  {% endif %}
  {% if heading %}<h2 class="context__heading">{{ heading }}</h2>{% endif %}
  {{ paragraphs|raw }}
  {% if buttons.items %}
    {% include buttonGroup with buttons %}
  {% endif %}
</div>